extends layout
nav
    ul
        li
            a(href="/") Home
        li
            a(href="/about") About
block content
    h1= title
    p Welcome to #{title}
    if messages && messages.length > 0
        p <strong>FLASH!</strong> #{ messages.length }