extends layout

//block content
//  h1= title
//  p Welcome to #{title}
doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#wrapper
      block content
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
      footer
        section.css-table
          section.four-column
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet
            section.cell
              p Mauris porttitor felis eu leo aliquet<br /> ac rutrum odio aliquet